body{

}
.block{
	width: 1920px;
	height: 1772px;

}

.block1{
	background: url(images/head1.png);
	background-size: 100%;
width: 1920px;
height: 90px;
}.inblock1{
	margin:0px auto;
	border: 1px solid #5B6169;
width: 940px;
height: 90px;
}
.TEST_TASK_ {
font-size: 24px;
font-family: "Arial";
line-height: 1.2;
text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
margin-top: 22.1px;
background: linear-gradient(white,gray); /* Градиент для текста */
-webkit-background-clip: text; /* Обрезаем фон по тексту */
-webkit-text-fill-color: transparent; /* Прозрачный текст */

}
.template {
  font-size: 14px;
  font-family: "Arial";
  line-height: 1.2;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(white, gray); /* Градиент для текста */
-webkit-background-clip: text; /* Обрезаем фон по тексту */
-webkit-text-fill-color: transparent; /* Прозрачный текст */
}


.btn{
	background: #3674BA;
	width: 170px;
}

.block2{
	background: url(images/background1.png);
	height: 470px;
	width: 1920px;
}.inblock2{
	margin:0px auto;
	
width: 940px;
height: 470px;

}


.block2right{
	
	float: right;
	width: 470px;
	height: 470px;
	margin-top:-470px;
}
.iOS_apps_for_free {
	font-size: 48px; 
	color: rgb(255, 255, 255);

	line-height: 1.2; 
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3); 
	margin-left: 10px; 
	margin-top: 138px;  

}

.Lorem_ipsum_dolor_sit_amet__consectetur_adipisc {
  font-size: 17px;
  font-family: arial;
  color: rgb(51, 85, 101);
  line-height: 1.167;
  text-align: justify;
  position: absolute;
  left: 970px;
  top: 300px;
  width: 459px;
  height: 38px;

}


.more_info {
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 970px;
  top: 380px;
  z-index: 15;
}

.btn1{
	width: 170px;
	background: #72ABDA;
	height: 40px;
	border: 0px;
}


.Ellipse_1_copy_2 {
  border-radius: 50%;
  background-color: rgb(140, 192, 234);
  position: absolute;
  left: 1419px;
  top: 520px;
  width: 10px;
  height: 10px;
  z-index: 18;
}
.Ellipse_1_copy {
  border-radius: 50%;
  background-color: rgb(140, 192, 234);
  position: absolute;
  left: 1406px;
  top: 520px;
  width: 10px;
  height: 10px;
  z-index: 17;
}
.Ellipse_1 {
  border-radius: 50%;
  background-color: rgb(54, 116, 186);
  position: absolute;
  left: 1393px;
  top: 520px;
  width: 10px;
  height: 10px;
  z-index: 16;
}

.block3{
	
	height: 494px;
	width: 1920px;
}.inblock3{
	background:url(images/white.png);
	margin:0px auto;
	
width: 940px;
height: 494px;
}

.hr1{
	margin: 50px 50px 50px 50px;
  width :255px;

}

.hr2{
margin: -50px 50px -30px 630px;
width: 255px;


}
 
.hr3{
margin: 50px 70px 70px 130px;
}

.hr4{
 margin: -70px 70px -30px 550px;
}

.text3{
font-size: 32pt;
}
.block4{
background: url(images/back32.png);
width: 1920px;
height: 618px;
}.inblock4{
	margin:0px auto;

width: 940px;
height: 618px;
}

.inblock4left{
border: 1px solid black;
float: left;
	width: 460px;
	height: 394px;
	margin-top:4px;
}

.inblock4right{
  border: 1px solid black;
float: right;
	width: 460px;
	height: 394px;
	margin-top:4px;

}

.block5{
	height: 100px;
	width: 1920px;
}.inblock5{
	margin:0px auto;
width: 940px;
height: 100px;
}
iframe{
	width: 460px;
	height: 153px;
}
.heightM{
	height: 110px;
	margin-top: 10px;
}
.SEND {
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 1365.134px;
  top: 1585.6px;
  z-index: 65;
}
.Shape_3_copy_35 {
  background-color: rgb(54, 116, 186);
  position: absolute;
  left: 1338px;
  top: 1580px;
  width: 92px;
  height: 30px;
  z-index: 60;
  border: 0px solid rgb(54, 116, 186);
}

.heightM1{
	height: 30px;
	margin-top: 10px;
}
.heightM12{
	height: 30px;
	margin-top: 5px;
}

.Test_task {
  font-size: 36px;
  color: rgb(124, 124, 124);
  line-height: 1.2;
  text-align: left;
  margin-top: -10px;
}

.Lorem {
  font-size: 14px;
  font-family: "Arial";
  color: rgb(78, 78, 78);
  line-height: 1.5;
  text-align: justify;
  margin-top: 20px;

}
.Skills {
  font-size: 24px;
  color: rgb(54, 116, 186);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
 margin-top: 25px;
}

.line1{
	margin-top: 12px;
	height: 30px;
}
.line2{
	margin-top: 10px;
	height: 30px;
}

.txt {
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
 text-align: left;
	margin-left: 10px;

}

.Copyrights_here {
  font-size: 12px;
  color: rgb(111, 111, 111);
  text-align: center;
  margin-top: 4%;
}
